{% extends "shared/base.html" %}

{% block title %}
  <title>User Profile</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="About">
            
        </div>
    </div>
{% endblock %}