{% extends "shared/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <h5 class="display-5">Signup to Blog</h5>
            <div class="text-danger font-weight-bold">
                {% for error in errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </div>
        </div>

        <div class="row my-5">
            <form method="POST">
                <div class="mb-3">
                    <label>Username</label>
                    <input type="text" required class="form-control" name="username" value="{{username}}" placeholder="username">
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    <input type="text" required placeholder="myemail@example.com" name="email" value="{{email}}" class="form-control">
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" required placeholder="Choose a secure password" value="{{password}}" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}