<div class="card shadow bg-body rounded" style="width: auto;">
    <div class="card-body">
      <h5 class="card-title">{{obj.title}}</h5>
      <p class="card-text">Content : {{obj.content[:60]}}</p>
    </div>
  </div>